[2013-04-25 07:20] mvdan opened #1 ""Save current image" doesn't save the image currently displayed"
For instance, I'm looking at the 2013-03-17 strip, but have the 2013-03-16 one already cached. When trying to download the -17 image, it downloads the -16 one as a .gif.

Just as well, the quality of the gif is lower than the quality of the same strip inside the app. High quality is ticked.

[2013-05-05 07:27] smarek opened #2 "Resolve quality issue when using standard Gallery application"
GIF files are possibly displayed wrongly in default Gallery app, see #1
Test possible transcoding GIF into PNG or JPG files, when downloading to device

[2013-05-05 07:47] #1 closed, assigned to smarek

[2013-05-08 07:23] smarek opened #3 "Zoom feature"
Could use a zoom or a panel-by-panel feature. Consider enabling this feature

[2013-05-14 18:55] #3 closed, assigned to smarek

[2013-05-14 18:57] smarek opened #4 "Add function "Show random""
Create button for random browsing (click will result in random result, not a queue)

Probably will be good idea to split action bar, and move some functions below content

[2013-05-14 20:24] #4 closed, assigned to smarek

[2013-05-14 21:13] smarek opened #5 "Images preloading"
Preload images, one to each direction, if possible, right after the current one is displayed

[2013-05-14 21:14] smarek opened #6 "Add Tests"
Add Unit Tests for whole application

[2013-05-26 09:05] smarek opened #7 "Share option"
Add share option

[2013-05-26 09:06] #2 closed, assigned to smarek

[2013-05-26 09:07] smarek opened #8 "Add option to ignore device orientation settings"
Ismail:

When "Auto rotate screen" is disabled under settings "Simple Dilbert" does not switch to landscape mode when you rotate the device.

I don't want to enable "Auto rotate screen" because all the other apps I use works best in portrait mode. However one can detect screen orientation with sensors. By using OrientationEventListener ( http://developer.android.com/reference/android/view/Orientat

[2013-06-18 08:21] #7 closed, assigned to smarek

[2013-06-18 08:21] smarek opened #9 "Switch icons Reload and Zoom in ActionBar"

[2013-06-21 06:41] smarek opened #10 "Add Synchronizatino of Favorites from dilbert.com"
Feature Request from Andrew T.

[2013-06-21 06:43] #8 closed, assigned to smarek

[2013-07-02 17:55] smarek opened #11 "Add Widget"
According to reviews on Play Store, add widget to browse Dilbert

[2013-07-02 17:55] #11 closed, assigned to smarek

[2013-07-26 21:28] #9 closed, assigned to smarek

[2013-07-26 21:29] #5 closed, assigned to smarek

[2013-09-03 15:54] #10 closed, assigned to smarek

[2013-09-25 08:31] smarek opened #12 "Add option to always open on latest strip"
Add option to auto refresh
- Widget - Automatically refresh to newest strip, if previous was yesterday
- Application - Open on latest strip (optional condition if previous was yesterday)

[2013-11-19 17:07] #12 closed, assigned to nobody

[2014-02-11 16:35] Timokasse opened #16 "Dilbert.com notre accessible"
I have a nexus 5. I have often difficulties with this application. As soon as the connection is not perfect, it fails loading the next strip. But if I use the browser to directly access the site I have no problem.

[2014-04-04 20:01] smartwatermelon opened #17 "App is gone from Google Play"
The link in the readme ( https://play.google.com/store/apps/details?id=com.mareksebera.simpledilbert ) now goes to a 404 page.

Is the app available in any other market? I couldn't find it on Amazon.

[2014-04-04 20:07] #17 closed, assigned to nobody

[2014-04-30 06:42] carlesso opened #18 "App removed from play store"
I've just bought my new phone and one of the first things I was doing is to download this app, only to find out it has been removed from the play store. Why? We are curious!

[2014-04-30 07:39] #18 closed, assigned to smarek

[2014-05-04 17:10] #6 closed, assigned to smarek

[2014-07-09 07:44] #16 closed, assigned to smarek

[2014-08-09 06:44] rachari opened #19 "Search doesn't work in v3.9"
Hi,
I installed version 3.9 from f-droid. It seems that the Search feature was added to this version.
When I try to use Search it doesn't do anything at all.
Can this be fixed as it would be very useful for an already awesome app.

[2015-01-10 16:56] #19 closed

[2015-01-14 12:37] quite opened #20 "I get "Dilbert.com is not avaible", but it is"
Maybe some change has been made to the site.

[2015-01-14 12:56] smarek commented on #20
Hello, yes, changes have been made today on dilbert.com, I'll update the application in 24h hopefully.

[2015-01-14 22:28] smarek commented on #20
Fixed in version 4.1 (build code 34), see commits from 14th Jan 2015 in tag v4.1 ( https://github.com/smarek/Simple-Dilbert/tree/v4.1 )

[2015-01-14 22:28] #20 closed

[2015-02-23 09:42] mdn-united opened #21 "Feature Request: Default zoom"
Hi developer,
could you please add a default zoom value?
I always zoom the strip twice to have one part of the picture as big as possible.

Thank you!

[2015-02-25 08:41] smarek commented on #21
That's actually neat idea, I'll push it in next version. Thanks for suggestion

[2015-06-29 11:43] supergonzales opened #22 "Strip reload without connection"
Reload of a strip causes it to disappear if no access to internet is available. When trying to reload one more time without connection, the application crashes.

[2015-06-29 18:05] mdn-united commented on #21
Hi smarek,
when will the next version be ready?
It's been a while since my suggestion.

Cheers,
MDN

[2015-10-05 08:29] billthefarmer opened #23 "Simple Dilbert null pointer exception crash"
I have a WiFi range extender installed where I usually leave my Nexus 7 tablet charging. I have had Simple Dilbert crash twice now when I go and get the tablet and take it near the WiFi router and start the app. The display times out and says it can't connect to dilbert.com, I select refresh from the menu and get an immediate 'Simple Dilbert has stopped' crash. The first time it happened I couldn'

[2015-10-07 12:40] smarek commented on #23
Hi @billthefarmer , thanks for report, it was simple to reproduce the issue and is already fixed with commit 6535c700b60163e554db67714fe3ebaa746671ae
I've also updated whole application (libraries, etc..), how do you use the app, compile yourself or install from F-Droid repository?

[2015-10-07 12:41] smarek commented on #22
Fixed as said in #23
Thanks for report

[2015-10-07 12:41] #22 closed

[2015-10-07 13:47] smarek commented on #21
Provided with 4.2 which was today finished and will be available (if you do use F-Droid repository) in matter of days

[2015-10-07 13:47] #21 closed

[2015-10-07 13:47] #23 closed

[2015-10-07 18:24] billthefarmer commented on #23
Hi, I get it from f-droid, I don't compile other people's apps as f-droid do such a good job.
Regards
Bill
On 7 Oct 2015 13:40, Marek Sebera <notifications@github.com> wrote:Hi @billthefarmer , thanks for report, it was simple to reproduce the issue and is already fixed with commit 6535c70
I've also updated whole application (libraries, etc..), how do you use the app, compile yourself or install f

[2015-10-08 07:49] smarek commented on #23
Cool, I've already notified F-Droid team so the update will be out really soon. Thank you!

[2015-10-08 16:27] nutpantz opened #24 "Feature request: offline mode"
It would be nice to have an option to download 20 -50 random comic strips
To look at offline. Maybe an option to automatically save every comic strip viewed
As default with a remove option for undesirable ones.. Like a reverse favorites.
Just found your app. Like it a lot so far, glad to see it on fdroid.

[2015-10-09 06:49] smarek commented on #24
Hi @nutpantz
already downloaded strips are available offline, regarding offline mode, that's possible for sure. Thanks for support :-)

[2015-10-20 00:19] palmheads opened #25 "Daily strips not displaying in widget on nexus 5 updated to Android 6.0"
Hi

Curious issue - 4.2 Simple Dilbert on nexus 5 recently updated to Android 6.0, the weekend strip displays fine in widget, but every other day no strip displays.

In the app itself all strips appear fine. Just the widget where it struggles.

Cheers
Daryn

[2015-10-25 17:54] smarek commented on #25
Hi, could you please take a peek in the LogCat if you see any problems there? Also what is your setting for the Widget, do you use it to display "latest only" or do you have it with ability to flip through days?
Have you tried tapping it (or the refresh button in the corner) to refresh the strip which doesn't display?
Thanks for report

[2015-10-27 06:08] palmheads commented on #25
Hi Marek

Installed adb on grepped "dilbert" on my Nexus 5

10-27 18:22:12.330   778   791 I ActivityManager: Start proc
26205:com.mareksebera.simpledilbert/u0a255 for broadcast
com.mareksebera.simpledilbert/.widget.WidgetProvider
10-27 18:25:32.056   778   789 I ActivityManager: Process
com.mareksebera.simpledilbert (pid 26205) has died
10-27 18:41:07.821   778   791 I ActivityManager: Start proc

[2015-12-16 13:15] CraigsBar commented on #25
I have the same issue on cm13 (os 6.0.1) on my HTC one m8.

[2015-12-21 14:20] mvrk80 commented on #25
I have the same issue on Lg g4 after the Android 6 official Lg update :(

[2016-01-04 15:50] supergonzales commented on #25
Same issue on a Nexus 5X on Android 6.0.1, only the Sunday strips can be seen. The other strips seem to be downloaded as the loading animation is showing but then the widget remains blank. Refreshing only repeats this process.

[2016-05-02 09:07] reverse-unina opened #28 "Dialog Disappears on Device Rotation"
When I perform this sequence of events:
1.        Click on "Choose Date"
2.        Orientation Change
 The dialog on screen disappears.

[2016-05-02 09:08] reverse-unina opened #29 "Dialog Disappears on Device Rotation 2"
When I perform this sequence of events:
1.        Click on "..." (More Options)
2.        Click on Settings
3.        Click on "Display User License"
4.        Orientation Change
 The dialog on screen disappears.

[2016-05-02 09:09] reverse-unina opened #30 "Dialog Disappears on Device Rotation 3"
When I perform this sequence of events:
1.        Click on "..." (More Options)
2.        Click on Settings
3.        Click on "Choose Default Zoom Level"
4.        Orientation Change
 The dialog on screen disappears.

[2016-05-04 13:19] reverse-unina opened #31 "Scroll List changes position on Device Rotation"
When I perform this sequence of events:
1.        Click on "..." (More Options)
2.        Click on Settings
3.        Scroll Down
4.        Orientation Change
 The list on the screen returns to the default position.

[2016-05-04 14:34] reverse-unina opened #32 "View changes style on Device Rotation"
When I perform this sequence of events:
1.        LongClick on Element on Screen
2.        Orientation Change
 The image returns to the default view style

[2016-05-04 14:37] reverse-unina opened #33 "Background changes color on Device Rotation"
When I perform this sequence of events:
1.        Click on "..." (More Options)
2.        Click on Settings
3.        Click on "Use Dark Backgrounds" (The background doesn't change color)
4.        Orientation Change
 The background changes color after the orientation change

[2016-06-18 21:07] #32 closed

[2016-06-21 08:29] reverse-unina opened #34 "Scrollable View changes position on Device Rotation"
When I perform these sequences of events, the scroll view on screen goes back to the top:

Sequence 1:
1. Click on preferences
2. Scroll Down
3. Orientation Change

[2016-06-27 09:13] mvrk80 commented on #25
please please please
we need a new version with this bug fixed :_(

[2016-07-01 08:21] sorab2142 commented on #25
07-01 13:50:27.556: E/OpenGLRenderer(16823): Cannot generate texture from bitmap

gets printed to logcat, when creating the widget and also when clicking any of the buttons (random,refresh,next,previous).

[2016-07-24 17:02] smarek commented on #25
Ok, investigated and fixed. For those who are interested in problem:

**E/OpenGLRenderer: Cannot generate texture from bitmap** happens on Android 6+ when you try to load GIF image through `setImageViewBitmap` on `RemoteViews`

Also, Sunday strips are OK because those are served as JPEG (JFIF), daily strips are served as GIFs (dunno why)

Possible solutions are:
1) Migrate from GIF to PNG/JPG/...

[2016-07-24 17:28] smarek commented on #25
Version v4.3 is tagged so please let F-Droid team some time to publish new build, thank you

[2016-07-24 17:28] #25 closed

[2016-07-29 09:33] mvrk80 commented on #25
thank you smarek!!
long to download the new version

[2016-07-31 15:29] mvrk80 commented on #25
not available yet on f-droid :(

[2016-07-31 19:01] smarek commented on #25
I can see the version being pushed to FDroid Data repo, on 25th Jun, don't know, why it's not available in latest data snapshot yet, see
https://gitlab.com/fdroid/fdroiddata/commit/3a07cc998e5233302c5913c7144cf18a1c462915
https://gitlab.com/fdroid/fdroiddata/commit/2701ae0a8b0b2128a0dcdd437be39a0016df0634

[2016-08-03 17:01] mvrk80 commented on #25
still having similar issue on 3.4 : the widget now show the strip only if I open it in the app before.
And the share function is not working anymore🙁

[2016-08-14 08:55] retsifp opened #35 ""Dies Teilen" ("Share this") doesn't work with 4.3"
Since the Update to 4.3, sharing within the App doesn't work anymore. When I select it, nothing happens. Before (with 4.2) it worked flawlessly.

[2016-08-14 14:23] Kasijjuf commented on #35
I just tested this and can confirm: sharing is broken in version 4.3. I am using the app in English.

[2016-08-24 08:09] mvrk80 opened #36 "version 4.3: widget still not working with android 6.0"
The widget doesn't show the strips.
If I open the strip in the app, then reload the same strip in the widget, the widget finally show the strip properly.

[2016-09-23 09:24] smarek opened #37 "Export list of saved Dilbert URL's as text file"
(from e-mail)
Can you add a feature to export list of saved Dilbert URL's as a text file?

[2016-10-12 12:12] smarek commented on #36
I don't have Android 6.0 for testing sincerely no more, Android 5 and Android 7 in my env worked always, with 6 it appeared to me, that sometimes you have to refresh/download the strip twice on widget, because of different handling of JPG/PNG format (JPG is for standard, weekday, strip, PNG is for sunday strips usually)

[2016-10-12 12:51] smarek commented on #35
Fixed, will be released, 4fee48b87f6739339321207b8d15fe0cddb3c7e6

[2016-10-12 12:51] #35 closed

[2016-10-31 09:47] smarek opened #38 "open strip in browser"
from mail:
Can you add a feature to open the current strip in browser?

Thank you for your great work!

[2016-12-22 07:33] ShiroiKuma0 opened #39 "4.3:Share this not working"
I'm on note 4, android 5.1.1. Sharing of comic strips doesn't work — when selected it just does nothing.

Up to version 4.2 it works — I've downgraded and am using it currently.

[2016-12-22 11:58] smarek commented on #39
Yes, this is currently a bug in published version, I've fixed that on 12th October, but we have more to do before release, so please be patient. Thanks!

[2016-12-22 11:58] #39 closed

[2016-12-22 13:00] smarek commented on #38
Provided db4dab5aa4c028db69529630884dda6495c6c1fa

[2016-12-22 13:00] #38 closed

[2016-12-22 13:51] #37 closed

[2016-12-22 13:53] #29 closed

[2016-12-22 13:53] #30 closed

[2016-12-22 13:53] #28 closed

[2016-12-22 13:54] #31 closed

[2016-12-22 13:54] #34 closed

[2016-12-22 13:54] #33 closed

[2016-12-22 14:28] smarek commented on #24
Provided 4de105680afe63bd087e602b2477e0f05309a080

[2016-12-22 14:28] #24 closed

[2017-01-07 10:13] retsifp opened #40 ""Share this" still broken"
I can't reopen #35, so I opened a new issue.

Unfortunately, "Share this" is still broken for me with v4.4 🙁

When I try to share with WhatsApp, I get the message "Sharing failed, please try again", but it doesn't work, no matter how often I try it. 😉

When sharing with Signal or K9Mail, only the text and the link to the image is shared, not the image as it was the case with v4.2

Phone: Fairphone

[2017-01-12 13:01] smarek commented on #40
Sorry to hear that, could you probably look into logcat and provide error that's shown in it? I don't know, where the issue may happen. If not, I could probably provide version of app, that allows user to create and send bug-report in case of caught exception.

[2017-01-13 17:23] retsifp commented on #40
I'm not sure this is everything, I have **a lot** more in the logcat even when on flight mode  :sweat_smile:
[code]

[2017-01-14 13:12] smarek commented on #40
This is not an SimpleDilbert isssue, is there anything in LogCat, that starts with `E/DilbertFragment` or `W/DilbertFragment` ? Also may be something similar

[2017-01-14 13:27] smarek commented on #36
I've just tested with Android 6 (some Samsung device), what I've observed, is that widget works, even when given strip was not loaded in the app itself (only-widget case), but I had to click a refresh few times.
Does this work the same way in your device @mvrk80  ? Thanks

[2017-01-16 12:58] mvrk80 commented on #36
sorry for late answer.
Yes, you'right. I have to refresh on widget 12-16 times and the strip becomes visible.

[2017-01-16 13:00] smarek commented on #36
Cool, does the number of refresh actions differ, if you take longer time between them? Ie. I suspect caching component to be responsible for different format of image, when it comes from in-memory and from disk cache (decode is needed).

Could you for example try refreshing once, using the phone for a tens of seconds/one minute, and then refresh again?

I think if you keep refreshing back-to-back,

[2017-01-16 13:15] mvrk80 commented on #36
Right again.
If I select a day, then wait 30 seconds, then refresh once, the strip appear!
:-)

[2017-01-30 16:53] nh2amine opened #41 "bad resolution on small screens"
Even when I zoom, I can't read.

[2017-01-30 19:17] smarek commented on #41
Hey @nh2amine, what is your screen resolution? Could you please provide some screenshots or something to begin with? Thank you!

[2017-06-23 21:35] VernonSmith opened #42 "Donation with Bitcoin"
Hi @smarek,
thank you so much for your awesome [Android](https://www.android.com/) app! 😍
What do you think of adding your [Bitcoin](https://bitcoin.org/) address to the _Donation_ section below your [PayPal](https://www.paypal.com/)?  😉

[2017-09-07 03:43] eileenfan opened #43 "OutOfMemoryError"
//package name: com.mareksebera.simpledilbert
//version: 4.4
 java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mareksebera.simpledilbert/com.mareksebera.simpledilbert.core.DilbertFragmentActivity}: android.view.InflateException: Binary XML file line #2: Error inflating class <unknown>
 	at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2211)
 	at android

[2017-12-08 08:31] smarek commented on #42
Hi @VernonSmith, there previously was this option, but I lost access to wallet.
If you want to, current address is [`131525CJ6UAzeqFiwG4Jsoq3GZrq5armJD`](https://blockchain.info/address/131525CJ6UAzeqFiwG4Jsoq3GZrq5armJD)

I'll add this to README, and close this ticket after, thank you!

[2017-12-08 08:31] #43 closed

[2017-12-08 08:31] smarek commented on #41
No response from reporter, closing for inactivity

[2017-12-08 08:31] #41 closed

[2017-12-08 08:32] smarek commented on #40
Closing for inactivity

[2017-12-08 08:32] #40 closed

[2017-12-08 08:32] #36 closed

[2018-02-24 18:33] JonnyTech opened #44 "Display strip title"
Every strip has a title, is it possible to display the title with each strip?

[2018-03-15 12:32] smarek commented on #44
@JonnyTech thanks, title is not on many strips, but I've added support for displaying it, if it's available. Please watch for version 4.5 in F-Droid updates.

[2018-03-15 12:32] #44 closed

[2018-03-15 13:15] smarek commented on #44
Oh, and one more thing. You need to refresh every single strip, which you have already cached, or the title will not display.

Use either:
  - single tap on image
  - use menu > refresh option
  - for widget use reload button

[2018-03-15 13:17] JonnyTech commented on #44
Excellent - thank you very much!

[2018-03-25 20:53] beckysophie opened #45 "The zoom button do not respond"
***Expected Behavior***

The zoom feature provided in the App is to allow users view and to zoom any picture of their choice smoothly, so as to understand them better!!!

***Actual Behavior***

The zoom feature do not work as the zoom button just clicks, without altering any change....

***How to produce the bug***

Open the app, after some of the pictures must have load, click on more options at

[2018-03-25 21:09] JonnyTech commented on #45
As I understand it, the zoom button will reset the zoom to fit the whole strip on the screen. To zoom in or out you need to pinch the screen with two fingers.

[2018-03-26 09:39] smarek commented on #45
@beckysophie thank you for report. the button actually does not change the zoom level, it applies the default zoom level, set in application preferences. To actually zoom in/out you have to use either "double-tap" or "pinch-to-zoom" gestures.

This behavior was changed in https://github.com/smarek/Simple-Dilbert/commit/88f50788a4e1d28db5e357b9e1e204c15fa8a7f5 on 8th June 2016, so it's really long

[2018-03-27 00:43] beckysophie commented on #45
What I mean is that the button doesn't alter any effect....

[2018-03-27 05:12] smarek commented on #45
If you set default zoom in settings, return to strip view, change zoom
(double-tap or pinch-to-zoom) and hit the zoom button. Does it return to
default zoom level from settings?

[2018-03-27 19:59] acidstout opened #46 "Duplicate toolbar icons and menu entries sometimes"
To reproduce:
1. Open app in portrait mode
1. Rotate device to landscape mode before the comic finished loading
1. Duplicate favorite buttons in toolbar appear as well as duplicate menu entries

![](https://i.imgur.com/GGt3R1n.jpg)
![](https://i.imgur.com/TNpIsuw.png)

[2018-04-03 06:52] smarek opened #48 "Widget image not displaying except for sundays on Android 6"
From e-mail report

Very few apps installed, I don't do much with the phone. Reboots make no difference. Delete and recreate widget makes no difference.
App itself is fine as always.

[2018-04-05 07:52] #45 closed

[2018-04-05 19:01] onos1 opened #49 "Sharing to whatsapp fails, when `don't share image just URL` is unmarked"
#### Expected behavior
After unmarking the `don't share image just URL` option in the app, I wanted to share both the image and URL to whatsapp contact, so I expected to use the share option and send the image to my contact.

#### Actual behavior
I was unable to share the image using the share option to whatsapp, because it brings back to the app after selecting share to whatsapp and give me a fai

[2018-04-05 19:11] onos1 opened #50 "Image still sending after ticking `don't send image just URL`"
#### Expected behavior
Wanted to share image URL with friends, after ticking `don't share image just URL` I expected when image is sent only the URL will be sent

#### Actual behavior
The image actually sends and no URL was included, only an image title was shared including the image which is not meant to be shared but just the URL

#### How to reproduce
- Download the simple dilbert app [Here](ht

[2018-05-04 05:52] beckysophie commented on #45
@smarek do you mind if I make a copywrite for this wonderful app  ?

[2018-07-15 02:34] jakobcornell opened #51 "Wrong comic displayed"
For some dates the wrong comic loads consistently. The displayed comic appears to be a duplicate of a recent past comic. For example, The comic displayed for May 7, 2005 is the one from May 2, 2005. (May 3-5 also display this comic). The image loaded by "Open in Browser" is the same incorrect comic. I suspect this occurs elsewhere as well, because I've had comics appear repeatedly several times.

[2018-07-15 02:48] jakobcornell commented on #51
It looks like this problem is associated with comic series. For example, in the ["New guy with a stress hump" series](http://dilbert.com/series/51), every comic in the series shows up as the first (May 9, 2005).

[2018-11-19 16:19] RandomUnkown opened #53 "Dilbert.com is not available when trying to share"
As the title says - when trying to share a comic it says that 'Dilbert.com is not available. Loading failed.' when it clearly is available.

Any ideas?

Cheers,
Random

[2018-11-19 22:20] 3DES commented on #51
I found the bug and will try to provide a fix as soon as I find some time within the next days....

[2018-11-21 09:02] #51 closed

[2018-11-21 09:02] #53 closed

[2018-11-21 09:02] #42 closed

[2018-11-21 09:49] smarek commented on #49
This should be fixed with recent PR #54

[2018-11-21 09:49] #49 closed

[2018-11-21 09:50] smarek commented on #46
This should be fixed with new SDK, please check in new release 4.6 coming out today, Thank you!

[2018-11-21 09:50] #46 closed

[2018-11-21 09:54] smarek commented on #50
Fixed by 953f7fe3d2c4527733f504092779ef62fedb541e

[2018-11-21 09:54] #50 closed

[2018-12-01 18:58] dangermoose23 opened #56 "Dilbert.com is not available. Loading failed."
Since the 14th of November I've been getting this message: "Dilbert.com is not available. Loading failed." and no strips have been downloading

This is on version 4.4, 4.5 & 4.6 over wifi & 4G on an Android 4.4.2 phone (rooted) and a 4.4.2 tablet (unrooted, wifi only)

Open in browser works for strips already downloaded, but nothing happens for later strips

I was hoping it was a temporary glitch,

[2018-12-01 19:37] JonnyTech commented on #56
No problems with v4.6 on my devices running Android 6 or newer. Do you have a firewall blocking the app?

[2018-12-01 22:59] dangermoose23 commented on #56
Nope. Maybe it's KitKat

[2018-12-04 11:59] lorindol commented on #56
Can confirm for App version 4.2 and 4.5 on Android 4.4.2 (unrooted) over WiFi and 4G

[2018-12-04 12:02] dangermoose23 commented on #56
Hi lorindol. Is it working or not working for you?

[2018-12-04 12:45] lorindol commented on #56
sorry for the confusion, it's NOT working. I tried wifi vs. 4g and then updated to 4.5. Will try 4.6 next.

[2018-12-04 15:01] smarek commented on #56
@dangermoose23 @lorindol could any of you look into LogCat of the device for messages related to the Simple Dilbert? That would help a lot, to solve the issue. Thanks

[2018-12-04 15:05] lorindol commented on #56
I'll look into that as soon as possible. Would running HEAD through a recent android studio do the trick?

[2018-12-04 15:20] smarek commented on #56
@lorindol sure, HEAD is currently 4.6, if you find no issue with 4.6, please test with TAG v4.5 or v4.4 or v4.2, and we'll see. Older versions do use incorrect url parsing, so that might be the issue for v4.2 you mentioned, however v4.5 uses only slightly different parsing, which should not cause the issue.
Anyway thank you beforehand :+1:

[2018-12-05 19:23] lorindol commented on #56
Seems to be an SSL problem:
12-05 20:22:10.108 31767-31793/? E/GetStripUrl: HttpGet failed
                                                javax.net.ssl.SSLException: SSL handshake aborted: ssl=0x75802008: I/O error during system call, Connection reset by peer
                                                    at com.android.org.conscrypt.NativeCrypto.SSL_do_handshake(Native Method)

[2018-12-06 11:00] smarek commented on #56
@lorindol thank you very much, we had this coming for a long time, i've produced attempt to fix the issue by using different Http library in 82d5ac248c2ef4201dd2a97da1997cf52195a6e5

Could you please again test with HEAD ? Cheers!

[2018-12-06 11:02] smarek commented on #56
@lorindol also, please, if you can test the widget? i'd like to think, that #48 got fixed too with latest commit, thank you

[2018-12-06 13:12] lorindol commented on #56
Same problem, different output. Plus, it's a bit tricky to build the app with a different name when you import R manually everywhere (I didn't want to overwrite the original one so that i don't lose favorites)

12-06 14:06:26.336 15140-15220/com.mareksebera.simpledilbertgit W/System.err: java.util.concurrent.ExecutionException: com.android.volley.NoConnectionError: javax.net.ssl.SSLException: SSL

[2018-12-06 14:08] smarek commented on #56
Thank you, I've allowed myself to format your response, for stacktrace to be readable

TL;DR : Please @lorindol  test latest HEAD (871199f1a132f508242c7ecc908e99c19d356dd9) , lower I list some explanation to the issue for future reference

The issue I've concluded, is in SSL/TLS versions support vs. SSL/TLS version enabled/supported by Android OS level/sdk/api

According to this comment https://st

[2018-12-06 14:10] smarek commented on #56
@lorindol also for easy build/install with different package name, use android.defaultConfig.applicationId in build.gradle, like this

[code]

[2018-12-06 15:09] lorindol commented on #56
Ah, thx, i changed it in the Manifest.
What i did earlier was to make a git pull from master and recompile. I'll try again later and will check the commit hash.

Just out of curiosity, if i were to change the Url in the GetStripUrl class and the patterns in the FindUrl class, i should be able to view another comic like xkcd, correct?

[2018-12-07 08:57] smarek commented on #56
@lorindol sure, changing the logic in GetStripUrl (getting url of image and title of comic) should suffice for similar single-image / single-title comics. XKCD is not really similar, as some of the images are animated (gif playing is different in Android then displaying JPG/PNG/...), some are multi-images and title is not everything, as XKCD uses title of image (on mouse hover title), so you'd nee

[2018-12-11 22:03] smarek commented on #56
@lorindol did you have time to test new changes? I've tried, and it seems like some older comics do not load at all, but did not debug it yet.

[2018-12-12 11:10] lorindol commented on #56
I just tried it, worked again, i also get strips from 1993.
Thanks for the quick fix.

[2018-12-18 10:30] smarek commented on #56
@lorindol even in widget? there I seem to find new problems

[2018-12-18 11:09] smarek commented on #56
Ok, so I've identified an issue with df634eefc9a72e5b10770f1dc5bf5512b44d09fe and pushed fix in 1246c1e7de0fdf9092c93df7affce414fe2ed541 . This discussion can now be closed, as all mentioned issues are resolved. Thank you all

[2018-12-18 11:09] #56 closed

[2018-12-18 11:12] smarek commented on #48
This is now resolved with 1246c1e7de0fdf9092c93df7affce414fe2ed541

[2018-12-18 11:12] #48 closed

[2018-12-18 11:43] dangermoose23 commented on #56
Great news! So, how do I get that version?

On Tue, 18 Dec 2018 11:09 Marek Sebera, <notifications@github.com> wrote:

[2018-12-18 11:45] smarek commented on #56
4.7 will be out on FDroid in a while, already waiting for approval https://gitlab.com/fdroid/fdroiddata/merge_requests/4119

[2018-12-18 11:51] dangermoose23 commented on #56
Brilliant! Thanks : )

On Tue, 18 Dec 2018 11:45 Marek Sebera, <notifications@github.com> wrote:

[2018-12-22 23:31] dangermoose23 commented on #56
4.7 works great. Thanks for all your hard work! :-)

[2018-12-24 08:59] JonnyTech opened #57 "Zooming in cuts off strip edge"
After updating to v4.7 from F-droid, when I double tap to zoom in on a strip then the edge of the image is cut off if I slide to view the left or right of the image. It only happens with daily strips downloaded with this version, not Sunday ones or previously cached ones. Clear app cache to see. Set to show forced landscape mode with no toolbars. Going back to older version is fine.

[2018-12-24 09:47] smarek commented on #57
Hey, can you please elaborate? What android version you do have, and possibly screencap(video) or couple screenshots for me to understand? I do not see the behavior on my device. Thanks

[2018-12-24 10:33] JonnyTech commented on #57
Please find [attached a video](https://github.com/smarek/Simple-Dilbert/files/270z7065/dilbert.zip) (zipped as GibHub would not accept it otherwise).

See how zooming in and out crops the image.

Running Oreo 8.0 stock ROM on a Nokia 3.

Thanks for your quick response.

[2018-12-24 13:56] smarek commented on #57
@JonnyTech sorry, but the link leads to "https://github.com/smarek/Simple-Dilbert/files/270z7065/dilbert.zip" which is non-existing, maybe upload failed? Please try again, thank you

[2018-12-24 15:01] JonnyTech commented on #57
Hmm, odd, second attempt:
[dilbert.zip](https://github.com/smarek/Simple-Dilbert/files/2707477/dilbert.zip)

[2018-12-25 08:44] smarek commented on #57
OK, yes, thank you, this is something i've noticed too, the scrolling is kind of sensitive now, sometimes it allows me to scroll to the edge of current strip, before changing to different strip, sometimes not.
I'll take a look, thank you for the bug report

[2019-01-02 01:27] jhoc2000 opened #58 "Doesn't work with default browser"
I use Internet (https://play.google.com/store/apps/details?id=com.lechneralexander.privatebrowser) as my default browser for security reasons but when I open the Dibert app it says Dilbert.com not available. There needs to be an option to choose which browser to use or please make it work in privacy browsers.

[2019-01-12 07:09] smarek commented on #58
Hello, the app does not use any browser at all. What version of app do you have installed? This problem was maybe in version 4.4 through 4.6, however shall be fixed in 4.7

[2019-01-12 07:33] smarek commented on #58
Might be, I haven't had chance to test Pie on real device, only AVD. Are you skilled enough, to take a look into LogCat (ie. adb logcat) ?

[2019-01-12 07:38] jhoc2000 commented on #58
I just noticed that if I don't go through a VPN it loads. Can Orbot's VPN be added to the code?

On 12 January 2019 18:33:39 GMT+11:00, Marek Sebera <notifications@github.com> wrote:

[2019-01-12 07:44] smarek commented on #58
Oh, nice find, I don't think it's issue with specific VPN, Orbot uses standard Android VPN interface to route traffic through. What might be issue, if the network is slow enough (using Tor), the app might actually consider the request failed, because it takes very long to load.

Still to pin-point actual issue, could you take a look into LogCat for messages connected to the Simple Dilbert?

[2019-01-12 07:46] jhoc2000 commented on #58
Now it's stopped working again.

I've never looked at LogCat. My phone isn't rooted but I can load ADB onto my Linux computer. If I do will I be able to then see LogCat? Can you tell me where LogCat is located or aren't you talking about a file?

On 12 January 2019 18:38:45 GMT+11:00, "jhock@iinet.net.au" <jhock@iinet.net.au> wrote:

[2019-01-12 07:57] smarek commented on #58
Yes, with linux it's easiest, there is usually package containing ADB (utility to talk to your phone over USB or IP), look for packages such as `adb`, `android-tools-adb` or similar

After you install it, this command should work `adb logcat`
Showing console of logs that your phone produces (similar to syslog), you might or might not grep it (ie. `adb logcat | grep -i dilbert`), but you're for sur

[2019-01-15 01:18] jhoc2000 commented on #58
Sorry for my late reply.

Please find attached a text file containing the output from the
command:

adb logcat | grep -i dilbert

Although I'm not familiar with Android output, it seems that
SimpleDilbert isn't on some sort of whitelist. Hopefully you can make
more sense of the it.

I look forward to your reply.

On Fri, 2019-01-11 at 23:57 -0800, Marek Sebera wrote:

01-15 12:02:24.919 23866 2388

[2019-01-17 01:21] jhoc2000 commented on #58
Hi Marek,

The app works intermittently and so far has loaded each time I start
it. It may take a while for it to fail for me to look at the logcat. If
it is fixed then I'm sure it is because of some way out app management
that Xiaomi has in its MIUI distribution. It's very annoying and I'm
very tempted to load a custom Android distribution such as LineageOS.

I'll contact you again if I get the e

[2019-01-24 20:14] #58 closed

[2019-03-02 11:00] hoehnp commented on #56
Thanks a lot for the great work on simple-dilbert. I have the same issue on Android 9. I will provide a logcat log soon.

[2020-05-05 10:10] StevanWhite opened #59 "permissions"
Love your app!

I am concerned about excessive Android permissions, though, particularly READ_EXTERNAL_STORAGE, WRITE_EXTERNAL_STORAGE.  I want to encourage you to minimize permissions, especially "dangerous" ones.

In the case of this app, I see no need for file access.  For caching, a simple database should suffice.  Instead of the "save" function, provide the Android-esque "share" and/or "copy"

[2020-05-05 11:10] smarek commented on #59
Well, pull-requests are welcome :smiley_cat:

No, seriously, this app was developed back in 2013, when Android 4.4 was the latest, and the Permissions were not touched since then (well there were initially more requested permissions, that I cut down to what is currently required).
Since the beginning, app used external storage for image caching, because internal memory of Android devices was too l

[2020-11-11 08:49] JonnyTech opened #60 "Failed to load dilbert.com"
The app stopped working this week. A message shows `dilbert.com is not available. Loading failed.` although the page loads correctly in a browser.

Uninstalling and reinstalling does not fix it. The strange thing is that it loads previous strips correctly when swiping back. It is just the current day that fails, daily.

[2020-11-11 13:44] smarek commented on #60
@JonnyTech cheers, dilbert.com is probably available, but their HTML changed, we do not use API, but parse HTML
Previous strips are loaded because they are cached, if you'd clear the app cache, it would start failing for historic strips as well

- [ ] Change validation message, to reflect on availability / content parsing error
- [ ] Update parsing code

[2020-11-11 14:01] smarek commented on #60
Well that's strange, I've just checked, and it's working correctly today for me, could you maybe check/post logcat ?
2020-11-11 correct URL is https://assets.amuniversal.com/f25312c0fb5b01382ef9005056a9545d
and it should be in logcat, or there might be some long error/stacktrace
let me know please @JonnyTech

[2020-11-11 18:04] JonnyTech commented on #60
Well, this is embarassing, because now it works. Both of my phones had the problem last night and this morning. Thanks for your feedback. If it happens again and I am near a computer then I shall take a logcat and reopen this issue.

[2020-11-11 18:04] #60 closed

[2022-04-11 07:10] JonnyTech opened #62 "Loading failed"
Every morning before 8am if I check the app it displays a black screen with an error message "dilbert.com is not available, loading failed". After 8am it starts working. I suspect maybe a date/time range check - I am in the UK and 8am here is midnight in LA and their dates match. Can I grab any logs from the app?

[2022-10-03 06:40] dstango commented on #62
Same issue here (Germany), just it's 9am ;-).
The reason seems to be that dilbert.com publishes new comic strips at 12am pacific, so that's way after a new day has started.
The app isn't interested in time zones at all (using LocalDate) and takes the local current date to look up the most recent strip.
Two ways to resolve seem possible: a) consider the time zone and adapting the day to request bef

[2022-10-03 07:05] smarek commented on #62
Hey, it was different back then when I developed this app, see https://github.com/smarek/Simple-Dilbert/blob/master/src/main/java/com/mareksebera/simpledilbert/preferences/DilbertPreferences.java#L39

Comics were usually available from midnight of America/Chicago timezone. If it changed, it means there is few hours difference now.
I think the solution should be configurable, with default preset as

[2022-10-05 06:18] dstango commented on #62
Yes, it looks like Chicago is not the right time zone any more... It's two hours later.
I could create a PR with the currently used time zone, but I've no Android development experience, so I wouldn't know about creating a new configuration option.

[2022-10-05 12:25] smarek commented on #62
@dstango no worries, i can just statically change the current preset, and leave the option to configure this for later

However looking at the timezones, it's a bit strange, that we've moved outside of USA, with Chicago+2h, we can use Buenos Aires or Halifax

Chicago: https://www.timeanddate.com/time/map/#!cities=64
Buenos Aires: https://www.timeanddate.com/time/map/#!cities=51

Or did I misundest

[2022-10-05 13:12] dstango commented on #62
@smarek thank you. Yes, it needs to be e.g. Los Angeles - west coast. That should do the trick.

[2022-11-24 16:16] jhcloos commented on #60
this reains an issue here;
the gh issue should remain open.

[2022-11-24 17:12] smarek commented on #60
@jhcloos its different ossue now, see https://github.com/smarek/Simple-Dilbert/issues/62

[2022-11-25 15:31] jhcloos commented on #62
for me the failure is not limited to certain times of day.

it just always fails now.

[2022-11-25 16:00] smarek commented on #62
In that case please open new ticket and provide logs from adb and name/version of your device please, without these i am unable to help you in any way

[2022-11-25 18:55] dstango commented on #62
dilbert.com seems to have been down during this week: https://www.reddit.com/r/dilbert/comments/yz7z28/dilbertcom_down/

I had also trouble loading, but even access with a web browser was not possible.

But the problem seems to be resolved now. As it was apparently a DNS problem it might take a little while until the fix of that reaches all DNS servers.
So I'd suggest to simply try again tomorrow.